@font-face {
  font-family: "Atari Classic";
  src: url(fonts/AtariClassicSmooth-XzW2.ttf);
}

body {
  font-family: "Atari Classic";
}

div {
  text-align: justify;
  font-size: 12px;
  width: 50%;
  margin: auto;
}
