@font-face {
font-family: DMSans;
src: url(fonts/DMSans-Regular.woff);
}

body {
font-family: DMSans;
color: #000;
font-size: 14px;
line-height: 20px;
overflow-x: hidden;
background: white;
}

.navbar {
background-color: transparent;
}

.container {
width: 100%;
max-width: 1440px;
min-height: 25px;
margin: 100px auto 60px;
padding-right: 60px;
padding-left: 60px;
}

.container-nav {
padding-left: 4em;
padding-right: 4em;
display: flex;
margin-top: 10px;
margin-bottom: 10px;
justify-content: space-between;
}

.nav-left {
display: flex;
margin-right: auto;
-ms-flex-align: center;
align-items: center;
}

.location-txt {
margin-top: auto;
margin-bottom: auto;
margin-left: 40px;
font-size: 16px;
font-weight: 400;
}

.nav-link {
font-size: 14px;
font-weight: 500;
}

.nav-menu {
margin-top: auto;
margin-bottom: auto;
margin-left: 40px;
font-size: 16px;
font-weight: 400;
}

h1 {
font-size: 48px;
font-weight: 700;
line-height: 60px;
margin-bottom: 20px;
}

h2 {
font-size: 36px;
font-weight: 700;
line-height: 48px;
margin-bottom: 20px;
}

.link {
font-size: 14px;
font-weight: 500;
color: #000;
text-decoration: none;
}

.myWork {
margin-right: 2em;
color: blue;
}

.link:hover {
color: linear-gradient(#FFD300, #FF446E);
background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
background-clip: text;
-webkit-text-fill-color: transparent;
}

.hero-heading-text {
color: linear-gradient(#FFD300, #FF446E);
background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
background-clip: text;
-webkit-text-fill-color: transparent;
}

#abb {
text-decoration: underline;
}

.project-grid {
display: flex;
justify-content: center;
}

.project-img {
display: flex;
width: 320px;
height: 180px;
border-radius: 24px;
}

.project-title {
display: flex;
font-size: 18px;
margin-bottom: 7px;
color: black;
text-decoration: none;
}

.project-description {
font-size: 14px;
font-weight: 400;
margin-top: 0px;
color: black;
text-decoration: none;
}

.project {
display: flex;
flex-direction: column;
margin-right: 2em;
color: black;
text-decoration: none;
}

.project:hover {
transform: scale(1.05);
transition: all 0.2s ease-in-out;
}

.project:not(:hover) {
transform: scale(0.95);
transition: all 0.2s ease-in-out;
}